.jumbotron
  h1= @quote
  p
    ' Welcome to the home of Island Troll Tribes!
  p
    ' Island Troll Tribes is a custom game for
    ' #{wc3_link 'Warcraft III: Frozen Throne'}
    ' which is still played on Battle.net within our devout clan. The game
    ' combines survival and player vs player melee combat in a fight to the
    ' death for domination of the islands. Players can join together on teams
    ' of up to six players per tribe or even go head to head.
  p
    ' Clan TwGB is the last surviving Island Troll Tribes clan on Battle.net
    ' and we continue to develop the custom game and keep the community alive.
    ' We frequently host Island Troll Tribes games on Battle.net for anyone to
    ' join. If you would like to join us, swing by the channel Clan TwGB on
    ' Azeroth (US East on Battle.net), or join our #{discord_link} group.
  p
    ' You can use this site to find #{link_to 'games', game_list_path}, look up
    ' #{link_to 'player stats', players_path}, and to stay informed about
    ' upcoming and ongoing #{link_to 'tournaments and events', competitions_path}.
    ' Happy trolling!

.panel.panel-default
  .panel-heading
    h2.panel-title Player Stats

  .panel-body
    = render 'players/search', placeholder: @placeholder

.panel.panel-default
  .panel-heading
    h2.panel-title Leader Board

  = render 'standings/score_board', collection: @leaders, cached: true
