<p id="notice"><%= notice %></p>

<h1>Winter 2016 1v1 League Standings</h1>

<h2>Rules</h2>
<ul>
  <li>Forced duel @ 40 minutes</li>
  <li>No horn</li>
  <li>No boats</li>
  <li>No perma-sleep with Hypnotist (exploit)</li>
  <li>Hot mode</li>
  <li>No spawn camping</li>
  <li>No drake in the arena</li>
  <li>No avoiding combat in the duel arena</li>
</ul>

<h2>Standings</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @w3mmd_elo_scores.each do |w3mmd_elo_score| %>
      <tr>
        <td><%= link_to w3mmd_elo_score.name, controller: :players, action: :show, name: w3mmd_elo_score.name %></td>
        <td><%= w3mmd_elo_score.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
