<p id="notice"><%= notice %></p>

<h1>Winter 2016 1v1 League Standings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @w3mmd_elo_scores.each do |w3mmd_elo_score| %>
      <tr>
        <td><%= link_to w3mmd_elo_score.name, controller: :players, action: :show, name: w3mmd_elo_score.name %></td>
        <td><%= w3mmd_elo_score.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
